@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem;
}
/*-- Variables --*/
:root{
    --main-color: #6da975;
    --second-color: #e4f6e7;
    --yelow-color: #ffa700;
    --yellow-alter: #ffeac2;
    --text-color: #081035;
    --bg-color: #fff;
    --text-neutral:#747893;
    --text-neutral-2: #ecedf4;
    --text-neutral-3: #f5f6f9;
}
/*Basic Styling*/
a{
    text-decoration: none;
}

img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}

/*contaner*/
.container{
    max-width: 1070px;
    margin: auto;
    width: 100%;
}

/*Header*/
.header{
    position: fixed;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 200;
   
}

.nav-container{                                                                                                                                                                                                             
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    padding: 10px 12px;
    border-radius: 5rem;
    box-shadow: 0 6px 64px 0 hsla(221,47%  , 31%, 0.06);
   
    
}
.logo img{
    width: 120px;
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.nav-link{
    font-size: 0.88rem;
    color: var(--text-color);
    font-weight: 500;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165,1);
}
.nav-link:hover{
    color: var(--text-neutral);
   transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165,1);
}

.nav-right{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.nav-right i{
    font-size: 18px;
    background-color: var(--text-neutral-3);
    color: var(--text-color);
    padding: 8px;
    border-radius: 50%;
}
.login-btn{
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 8px 14px;
    border-radius: 5rem;
    font-size: 0.9rem;
}
.login-btn:hover{
    background: var(--text-color);
    transition: background 0.4s ease-in-out;
}

/*menu icon*/
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    padding: 10px;
    cursor: pointer;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 200;
    transition: 0.3s;

}

.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 20px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2{
    opacity: 0;
}
.move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

.hero{
    width: 100%;
    position: relative;
}
.heo-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-content-container{
    margin-top: 4rem !important;
    text-align: center;
}

.hero-content-container h2{
    font-size: 1.6rem;

}
.hero-content-container h2 span{
    color: var(--main-color);
}

.hero-btn{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 1.5rem, 0 , 0.5rem;
}

.btn{
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    background: var(--text-color);
    padding: 8px 14px;
    border-radius: 0.9rem;
}

.btn span{
    font-size: 0.9rem;
    color: var(--bg-color);
}

.btn img{
    width: 20px;
}

.btn:hover{
    background: var(--main-color);
    transition: background 0.4s ease-in-out;
}

.hero-img img{
    max-width: 100%;
    width: 900px;
    mix-blend-mode: darken;
    position: relative;
}
.category a{
    padding: 7px;
    background: var(--text-neutral-3);
    position: absolute;
    left: 50%;
    bottom: 56%;
    transform: translate(-50%);

    border-radius: 50%;
    z-index: 4;
}

.category a img{
    width: 30px;
}

.category-content{
    position: relative;
}

.category-content span{
    position: absolute;
    left: 5%;
    top: 0;
    background: var(--main-color);
    height: 200px;
    width: 90%;
    border-radius: 2.5rem;
    z-index: -1;
    overflow: hidden;
}

.category-img-1{
    width: 260px;
    height: 200px;
    position: absolute;
    right: 6%;
    bottom: 1250px;
    border-radius: 2rem;
    z-index: -1;
    opacity: 0.5;
}

.category-img-2{
    width: 260px;
    height: 200px;
    position: absolute;
    left: 6%;
    bottom: 1250px;
    border-radius: 2rem;
    z-index: -3;
    opacity: 0.5;
}
.category-content h2{
  text-align: center;
margin: 0 0 1rem !important; 
color: var(--bg-color);
padding-top: 2rem;
}


.categorySwiper{
    max-width: 80%;
    
}

.category-box{
   background-color: var(--bg-color);
   border-radius: 1.5rem;
   text-align:center;
   padding: 14px;
}

.category-box img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    object-position: center;
}
.category-box h3{
    margin-top:5px;
    font-weight: 600;
    font-size: 1rem;
}

.swiper-btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem !important;
}

.swiper-button-next, .swiper-btn-prev{
   position: static !important;
   margin: 0 0 0 10px !important;
}

.swiper-button-next{
    background: url(assets/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after{
    display: none;
}

.swiper-button-prev{
    background: url(assets/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-button-prev::after{
    display: none;
}